* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
    
.page {
    width: 1440px;
    height: 800px;
    align-content: center;
    text-align: center;
}
.page p{
    margin: 5px;
}